<h2 style="text-align: center; width:100%">
    <span (click)="restart()" class="restart">R</span>
    Points: {{points}}
    <span style="color:darkmagenta;float:right;margin-right: 5px;">Max: {{maxPoints}} </span>
</h2>
<div>

    <table #table class="board">

        <tr *ngFor="let row of matrix" id="row">

            <td *ngFor="let cell of row">

                <cell [color]="cell"></cell>
                
            </td>

        </tr>

    </table>
    
    <div #pieceHolder class="piece-holder">

        <piece 
            *ngFor="let piece of pieces" 
            [type]="piece.type"
            (cdkDragEnded)="dropped($event)" 
            [cdkDragData]="piece.serial"
            cdkDrag>
        </piece>
        
    </div>

</div>