.board {
    width : 200px;
    height: 200px;
    margin: auto;
    border: black solid 1px;
}

.piece-holder {
    height: 400px;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.piece-holder > * {
    margin-left: 5px;
    margin-right: 5px;
}