.board {
    width : 200px;
    height: 200px;
    margin: auto;
    border: black solid 1px;
}

.piece-holder {
    height: 200px;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.piece-holder > * {
    margin-left: 5px;
    margin-right: 5px;
}

.restart {
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    border: 1px solid black;
    width: 30px;
    display: inline-block;
    float: left;
}

.restart:hover {
    background-color: white;
}